In [ ]:
import pandas as pd
import numpy as np

# **Pandas Series:**

**1.**Create a Pandas Series from a list and calculate its absolute values using the
abs() function.?

In [ ]:
l=[-1,2,-3,-4,5]
df=pd.Series(l)

print(df.abs())

0    1
1    2
2    3
3    4
4    5
dtype: int64

2. Create a Pandas Series and use the map() function to replace all
occurrences of one value with another.

In [ ]:

series = pd.Series([1, 2, 3, 1])
result = series.map({1: 10})
print(result)

0    10.0
1     NaN
2     NaN
3    10.0
dtype: float64

In [ ]:

import pandas as pd

# Create a Pandas Series
series = pd.Series([1, 2, 3, 1])

# Use map() to replace occurrences of 1 with 10
# and fill the remaining values with their original values
result = series.map({1: 10}).fillna(series)

print(result)

0    10.0
1     2.0
2     3.0
3    10.0
dtype: float64

In [ ]:

series = pd.Series([1, 2, 3, 1])
series.map({1: 10})
print(series)

0    1
1    2
2    3
3    1
dtype: int64

3. Create a Series of numbers and add 5 to each element using the add()
function.

In [ ]:
l=[-1,2,3,4,5]
df=pd.Series(l)

print(df.add(5))

0     4
1     7
2     8
3     9
4    10
dtype: int64

# **Pandas DataFrame:**

4. Create a DataFrame with 3 columns. Use the add_prefix() method to add
the prefix "Col_" to each column name.

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df=pd.DataFrame(data)

print(df.add_prefix("COl_"))

    COl_name  COl_score  COl_attempts COl_qualify
0  Anastasia       12.5             1         yes
1       Dima        9.0             3          no
2  Katherine       16.5             2         yes
3      James        NaN             3          no
4      Emily        9.0             2          no
5    Michael       20.0             3         yes
6    Matthew       14.5             1         yes
7      Laura        NaN             1          no
8      Kevin        8.0             2          no
9      Jonas       19.0             1         yes

5. Create a DataFrame and calculate the covariance matrix using the cov()
method.

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df=pd.DataFrame(data)

a=df.select_dtypes(include="number")
print(a.cov())

              score  attempts
score     22.031250 -0.491071
attempts  -0.491071  0.766667

6. Create a DataFrame and replace missing values in a column using the bfill()
method.

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df=pd.DataFrame(data)

print(df.bfill())

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    9.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    8.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

7. Convert a specific column in a DataFrame to integers using the astype()
method.

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 25, 9, 20, 14.5, 26, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df=pd.DataFrame(data)
c=df["score"].astype((int))
print(c,"\n")
print(c.dtypes)

0    12
1     9
2    16
3    25
4     9
5    20
6    14
7    26
8     8
9    19
Name: score, dtype: int64

int64

8. Use the at property to modify a specific value in a DataFrame.

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 25, 9, 20, 14.5, 26, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no','yes' ]}

# print(df.at[0,"firstname"])

df=pd.DataFrame(data)
df.at[0,"score"]=1
print(df)

        name  score  attempts qualify
0  Anastasia    1.0         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James   25.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura   26.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

9. Count the number of non-null values in each column of a DataFrame using
the count() method.

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df=pd.DataFrame(data)
print(df.count())

name        10
score        8
attempts    10
qualify     10
dtype: int64

10. Create a DataFrame and use the all() method to check if all values in a
column are greater than a given number.

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df=pd.DataFrame(data)
c=df["score"]>15
print(c.all())

False

11. Create a DataFrame and use the any() method to check if any value in
a column meets a condition.

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df=pd.DataFrame(data)
c=df["score"]>15
print(c.any())

True

# **Reading CSV:**

12. Read a CSV file into a Pandas DataFrame. Display the first 10 rows
using the head() method.

In [ ]:
import pandas as pd

data=pd.read_csv("data.csv")
df=pd.DataFrame(data)

df.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

13. Load a CSV file into a DataFrame and check the data types of each
column.

In [ ]:
import pandas as pd

data=pd.read_csv("data.csv")
df=pd.DataFrame(data)
print(df.dtypes)

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

14. Load a CSV file, then drop any rows containing missing values and
display the cleaned DataFrame.

In [ ]:
import pandas as pd

data=pd.read_csv("data.csv")
df=pd.DataFrame(data)
df.dropna(inplace=True)
print(df.head(20))

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2

# **Cleaning Data:**

15. Create a DataFrame with missing values. Use Pandas to fill the
missing values with the mean of the respective columns.

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df=pd.DataFrame(data)
df.fillna(df["score"].mean(),inplace=True)
print(df.head(20))

        name    score  attempts qualify
0  Anastasia  12.5000         1     yes
1       Dima   9.0000         3      no
2  Katherine  16.5000         2     yes
3      James  13.5625         3      no
4      Emily   9.0000         2      no
5    Michael  20.0000         3     yes
6    Matthew  14.5000         1     yes
7      Laura  13.5625         1      no
8      Kevin   8.0000         2      no
9      Jonas  19.0000         1     yes

16. Create a DataFrame where some numeric values are stored as strings
(e.g., "10"). Convert these to proper numeric format using the astype()
function.

In [ ]:
import pandas as pd
import numpy as np

data = {'score': [12.5, 9, 16.5],
        'attempts': ["10","1","2"]}


df=pd.DataFrame(data)


c=df.astype(int)
print(c)

   score  attempts
0     12        10
1      9         1
2     16         2

17. Create a DataFrame with incorrect values in a specific column.
Identify and correct those values programmatically.

In [ ]:
import pandas as pd
import numpy as np

data = {'score': [25, 9, 16],
        'attempts': ["10","1","2"]}


df=pd.DataFrame(data)

c=df.replace(25,df["score"].mean())
d=c.astype(int)
print(d)

   score  attempts
0     16        10
1      9         1
2     16         2

18. Create a DataFrame with duplicate rows. Remove all duplicates using
the drop_duplicates() method.

In [ ]:
import pandas as pd
import numpy as np

data = {'score': [12.5, 9, 16.5,9],
        'attempts': ["10","1","2","1"]}


df=pd.DataFrame(data)
print(df,"\n")
print(".................")
df.drop_duplicates(inplace=True)
print(df)

   score attempts
0   12.5       10
1    9.0        1
2   16.5        2
3    9.0        1

.................
   score attempts
0   12.5       10
1    9.0        1
2   16.5        2

19. Write a function to clean a DataFrame by filling missing data, fixing
incorrect types, and removing duplicates.

In [ ]:
def clean(df):
  df= df.fillna(df.mean())
  df= df.drop_duplicates()
  df= df.astype(int)
  return df


import pandas as pd
import numpy as np


df = pd.DataFrame({'A': [1, 1, None], 'B': [4, 4, 5], 'C': [4, 4, 5]})


# print(df)
print(clean(df))

   A  B  C
0  1  4  4
2  1  5  5

# **Data Correlation:**

20. Create a DataFrame with at least two numeric columns. Compute the
correlation between these columns using corr().

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df = pd.DataFrame(data)
newdf=df.select_dtypes(include='number')
newdf.corr()

             score  attempts
score     1.000000 -0.125368
attempts -0.125368  1.000000

# **Aggregation Functions:**

21. Create a DataFrame and use the agg() method to calculate the sum
and mean of numeric columns.

In [ ]:
import pandas as pd
import numpy as np


data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df = pd.DataFrame(data)
newdf=df.select_dtypes(include='number')
c=newdf.agg(["sum"])
d=newdf.agg(["mean"])
print(c,"\n")
print(d,"\n")

     score  attempts
sum  108.5        19

        score  attempts
mean  13.5625       1.9

22. Create a DataFrame and use the agg() function to apply multiple
aggregation operations (e.g., min, max, mean) on a specific column.

In [ ]:
import pandas as pd

data = {'score': [12.5, 9, 16.5,9],
        'attempts': [10,1,2,1]}
df=pd.DataFrame(data)
c=df.agg(["min","max","mean"])

print(c)

      score  attempts
min    9.00       1.0
max   16.50      10.0
mean  11.75       3.5

23. Create a DataFrame and use the agg() method with a custom
aggregation function (e.g., calculate the range).

In [ ]:
def func(x):
  return x.max() + x.min()

import pandas as pd

data = {'score': [12.5, 9, 16.5,9],
        'attempts': [10,1,2,1]}
df=pd.DataFrame(data)
print(df.agg(func))

score       25.5
attempts    11.0
dtype: float64

# **Data Manipulation:**

24. Create a DataFrame and use the add() function to add two
DataFrames element-wise.

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2,3,4], 'B': [3, 4,6,7]})
df2 = pd.DataFrame({'A': [5, 6,5,5], 'B': [7,2,5,8]})
result = df1.add(df2)
print(result)

   A   B
0  6  10
1  8   6
2  8  11
3  9  15

25. Create a DataFrame and use map() to convert a column of categorical
data to numerical labels.

In [ ]:

import pandas as pd

df = pd.DataFrame({'A': ['apple', 'banana', 'cherry']})

df["maped_"]=df["A"].map({'apple':1,'banana':2,'cherry':5})
print(df)

        A  maped_
0   apple       1
1  banana       2
2  cherry       5

26. Create a DataFrame and check the shape and dimensions using the
shape and ndim attributes.

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': ['apple', 'banana', 'cherry']})

print(df.shape)
print(df.ndim)

(3, 1)
2

# **Miscellaneous:**

27. Create a DataFrame and use the abs() function to return the absolute
value of numeric columns.

In [ ]:
l=[-1,2,-3,-4,5]
df=pd.DataFrame(l)

print(df.abs())

   0
0  1
1  2
2  3
3  4
4  5

28. Load a CSV file into a DataFrame, drop any rows that contain values
that do not meet a specified format.

In [ ]:

# df = pd.DataFrame({'A': ['10', '20', 'NaN'], 'B': ['30', 'invalid', '40']})
# df_clean = df[df['B'].str.isnumeric()]
# print(df_clean)

     A   B
0   10  30
2  NaN  40

In [193]:


import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame({'A': ['10', '20', 'NaN'], 'B': ['30', 'invalid', '40']})

# Step 1: Replace 'NaN' string with actual np.nan
df.replace('NaN', np.nan, inplace=True)

# Step 2: Convert columns to numeric, forcing errors to NaN (errors="coerce")
df['A'] = pd.to_numeric(df['A'], errors='coerce')
df['B'] = pd.to_numeric(df['B'], errors='coerce')

# Step 3: Handle missing values
# Option 1: Drop rows with any NaN values
# df_clean = df.dropna()

# Option 2: Fill NaN values with a specific value (e.g., 0)
df.fillna(0, inplace=True)

# Step 4: Optionally, trim whitespaces in string columns
# df['column_name'] = df['column_name'].str.strip()

# Display the cleaned DataFrame
print(df)

      A     B
0  10.0  30.0
1  20.0   0.0
2   0.0  40.0

29. Create a DataFrame with missing values. Use bfill() to backfill the
missing values.

In [ ]:

df = pd.DataFrame({'A': [None, 2, 3], 'B': [4, None, 6]})
df_bfilled = df.bfill()
print(df_bfilled)

     A    B
0  2.0  4.0
1  2.0  6.0
2  3.0  6.0

30. Create a DataFrame and use astype() to change the data type of a
column from float to int.

In [ ]:

df = pd.DataFrame({'A': [1.5, 2.5, 3.5]})
df['A'] = df['A'].astype(int)
print(df)

   A
0  1
1  2
2  3